{% extends 'base.html.twig' %}

{% block title %}Create a post{% endblock %}

{% block body %}

<h1>Add a Post</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
    <button class="btn btn-success">Add</button>
{{ form_end(form) }}
{% endblock %}